@font-face {
  font-family: OverPass;
  src: url("https://fonts.google.com/specimen/Overpass");
}

body {
  margin: 0;
  background-color: hsl(216, 12%, 8%);
  font-family: OverPass, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
button,
form,
input {
  font-family: OverPass;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
